<nav class="navbar">
  <div class="container">
      <div class="ui-g">
          <div class="ui-g-12">
           <a href="javascript:;" class="navbar-toggle" (click)="isMenu =!isMenu" ><i class="pi pi-bars"></i></a>
          </div>
      </div>
  </div>
  <ul class="navbar-menu" [hidden]="!isMenu">
    <li class="navbar-usuario">Pedro Dias</li>
    <li class="navbar-meunuitem"><a href="#">Laçamentos</a> </li>
    <li class="navbar-meunuitem"><a href="#">Pessoas</a> </li>
    <li class="navbar-meunuitem" ><a href="#">Logout</a> </li>
  </ul>
</nav>
