<div class="contrainer">
  <div class="ui-g">
    <form action="">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="" />
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="" />
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input pInputText type="" />
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="" />
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input pInputText type="" />
      </div>
      <div class="ui-g-12  ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask  mask="99.999-999" placeholder="00.000-000"></p-inputMask>
      </div>
      <div class="ui-g-12  ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input pInputText type="" />
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <input pInputText type="" />
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type=""  [style.margin-left.px]="15" label="Novo"></button>
        <a [style.margin-left.px]="15" href="javascript:;">Voltar para Pesquisa</a
        >
      </div>
    </form>
  </div>
</div>
